BEGIN;
CREATE TABLE "rating_site_game"
(
    "id"               integer      NOT NULL PRIMARY KEY AUTOINCREMENT,
    "name"             varchar(100) NOT NULL UNIQUE,
    "developer"        varchar(100) NOT NULL,
    "producer"         varchar(100) NOT NULL,
    "operating_system" varchar(100) NOT NULL,
    "genre"            varchar(100) NOT NULL,
    "year"             date         NOT NULL
);
CREATE TABLE "rating_site_favouritegame"
(
    "id"         integer  NOT NULL PRIMARY KEY AUTOINCREMENT,
    "dt_created" datetime NOT NULL,
    "dt_updated" datetime NOT NULL,
    "user_id"    integer  NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED,
    "game_id"    bigint   NOT NULL REFERENCES "rating_site_game" ("id") DEFERRABLE INITIALLY DEFERRED,
    CONSTRAINT "unique_favourite_per_user_game" UNIQUE ("user_id", "game_id")
);
CREATE TABLE "rating_site_review"
(
    "id"      integer NOT NULL PRIMARY KEY AUTOINCREMENT,
    "score"   integer NOT NULL,
    "game_id" bigint  NOT NULL REFERENCES "rating_site_game" ("id") DEFERRABLE INITIALLY DEFERRED,
    "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED,
    CONSTRAINT "unique_review_per_user_game" UNIQUE ("game_id", "user_id")
);
CREATE INDEX "rating_site_favouritegame_user_id_80211447" ON "rating_site_favouritegame" ("user_id");
CREATE INDEX "rating_site_favouritegame_game_id_2751a921" ON "rating_site_favouritegame" ("game_id");
CREATE INDEX "rating_site_review_game_id_e9885e76" ON "rating_site_review" ("game_id");
CREATE INDEX "rating_site_review_user_id_8dc406e8" ON "rating_site_review" ("user_id");
COMMIT;
